.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation{
    width: 30%;
    margin-top: 6%;
    margin-bottom: 6%;
    max-width: 300px;
}

.text{
    font-family: poppins;
    font-size: 2.4vw;
    margin-bottom: 1.5%;
}

.c-shopping{
    background-color: white;
    color: #15383D;
    font-weight: 500;
    font-size: 2.2vw;
    font-family: roboto;
    border: none;
    word-wrap: nowrap;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.15);
    margin-top: 1%;
}

.c-shopping:hover{
    cursor: pointer;
}

@media (max-width:720.2px) {
    .confirmation{
        margin-top: 15%;
    }

    .text{
        font-size: 4vw;
    }

    .c-shopping{
        font-size: 5vw;
        margin-top: 3%;
    }

}

@media (max-width:480.2px) {
    .confirmation{
        margin-top: 32%;
    }

}