
footer{
    margin-top: 120px;
}
.footer-box {
    display: flex;
    justify-content: center;
    height: 97px;
    background-color: #176265;
    column-gap: 30px;
    align-items: center;
    position: relative;  
}

.contact-info{
    padding-bottom: 20px;
}
.contact-info p{
    color: white;
    font-size: 1vw;
}
.info-type {  
    font-weight: 500;
}

.email-address{
    font-weight: 300;
}

.policies{
    position: absolute;
    color: white;
    font-size: 0.75vw;
    bottom: 0;
}

@media (max-width:720.2px) {
    .footer-box {
        display: block;
        justify-content: center;
        height: 130px;
        background-color: #176265;
        column-gap: 30px;
        align-items: center;
        position: relative;
        padding-top: 15px;
    }
    
    .contact-info p{
        color: white;
        font-size: 14px;
        
    }

    .contact-info{
        display: flex;
        column-gap: 2%;
        justify-content: center;
    }

    .policies{
        display: block;
        font-size: 0.75vw;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        min-width: 200px;
        white-space: nowrap
    }
}