  /*vertical align to contents in header*/

/*this container is to make the event image responsive*/
.event-container{
    width: 100%;
    height: auto;
       
}
.event-img {
    width: 100%;
    height: auto;
}

.subtitle{
    color: #3B8184;
    font-size: 1.7vw;
    font-weight: 500;
    margin-top: 1.2%;
    margin-bottom: 1.2%;
}

.books-row {
    display: flex;
    justify-content: space-between;
}

.book-profile{
    width: 21%;
}

.books-img-container {
    height: 85%;
}

.books-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-name{
    font-size: 1.5vw;
    font-weight: 500;
}

.author {
    font-size: 1vw;
    font-weight: 300;
}


@media (max-width:720.2px) {
    .no-mobile{
        display: none;
    }

    .book-profile {
        width: 47%;
    }
    
    .subtitle{
        font-size: 15px;
    }
    
    .book-name{
        font-size: 4vw;
        font-weight: 500;
    }
    
    .author {
        font-size: 3vw;
        font-weight: 300;
    }
}